@import url('https://fonts.googleapis.com/css?family=Raleway:200');

@import url('https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,400');

@import url('https://use.fontawesome.com/releases/v5.7.2/css/all.css');

:root {
  /*CSS variables*/
  --background-color: white;
  --primary-font-color: white;
  --secondary-font-color: black;
  --primary-color: #537EBA;
  --secondary-color: #636363;
  --logo-color: #384ca2;
}


html, body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  min-width: 100%;
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
  color: var(--font-color);

}

.bg {
  background-color: var(--primary-color);
}

hr {
  background-color: lightgrey;
  height: .1px;
  max-width: 100%;
  z-index: 99;
}

a {
  font-family: inherit;
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}



/****** NAVBAR ********/


.navbar {
  width: auto;
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 30px;

}

.navbar-logo {
  padding-left: 50px;
  color: var(--logo-color);

}

.navbar-menu {
  background-color: var(--primary-color);
  padding-right: 50px;
  margin-top: 20px;
  margin-bottom: 25px;
  font-size: 20px;
  color: var(--font-color);
  font-family: inherit;
  font-weight: 100;
  color: lightgrey !important;
}

.topLogo {
  font-size: 25px;
}



/****** HERO ********/

.hero {
  background-color: var(--primary-color);
  min-height: 300px;
  color: var(--primary-font-color);
}

.heroHR {
  margin-top:-15px !important;
  opacity: 0.5;
  filter: alpha(opacity=50);
}

.heroimage {
  margin-top: 25px;
  padding: 0px;
  background: url('./assets/dish.jpg');
  height: 300px;
  width: 600px;
  background-repeat: no-repeat;
  background-size: auto;
  box-shadow: 25px 25px 50px 50px #537EBA inset, -25px -25px 50px 0 #537EBA inset;
  opacity: 0.5;
  filter: alpha(opacity=50);
  /*box-shadow: 25px 25px 50px 0 white inset, -25px -25px 50px 0 white inset;*/
  /*border-style: inset;
  border-color: var(--secondary-color);*/
}

.hero-text {

  margin-top: 65px;
  margin-left:-40px;
  font-size: 22px;
  max-width: 500px;
  z-index: 1
}



/****** INFO DIV ********/


.information {
  background-color: white;
  min-height: 100px;
  padding-bottom: 80px;
  padding-left: 50px;
  padding-right: 50px;
}

.infoBoxes {
  margin-left: 20px;
  margin-right: 20px;
}

.infoBreak {
  margin-top: 15px !important;
}

.header-text {

  margin-top: 20px;
  margin-left: 0px;
  font-size: 35px;
}


/****** LATEST DIV ********/


.latest {
  background-color: white;
  min-height: 100px;
}


/****** NEWS DIV ********/


.news {
  width: 100%;
  background-color: var(--primary-color);
  color: var(--primary-font-color) !important;
  min-height: 100px;
}


.articles {
  width: 100%;
  background-color: var(--secondary-color);
  color: var(--secondary-font-color);
  min-height: 100px;
  height: 100%;
}


/******ABOUT PAGE ***********/

.teamPhoto {
  max-width:200px;
  max-height: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}


/****** MISSION PAGE ***********/

.hero-image-secondary {
  margin: 20px;
  margin-right: 150px;
  padding: 10px;
  max-height: 400px;
  max-width: auto;
  /*opacity: 0.5;
  filter: alpha(opacity=50);
  border-style: inset;
  border-color: var(--primary-color);*/
}

.mission-text {
  font-size: 25px;
}



/****** RESOURCES PAGE ***********/

.mediaColumn {

  padding: 50px;
  border-color: var(--primary-color);
  border-style: dashed;

}

.media-image {
  max-width: 400px;
  max-height: auto;
}

.articles {
  margin-bottom: 50px;
}

.explore {
  margin-bottom: 50px;
}


/****** FOOTER ********/


#footer {
  padding: 20px;

}

.social {
  font-size: 30px;
}

.social-icons {
  margin-left: 20px;
  margin-right: 20px;
}

.copyright {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin-top: 0px;
  margin-bottom: 20px;
}



/****** GENERAL ********/

.text-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.text-top {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.halfContainer {
  width: 40%;
  background-color: var(--primary-color);
  color: white;

}

.readMore {
  margin-left: 0px;
  color: lightgrey;
}

.marginBottom {
  margin-bottom: 20px;
}

.sideMargins {
  margin-left: 40px;
  margin-right: 40px;
}

/******* FLEXBOX *************/

.flexy {
  display: flex;
}

.rowFlex {
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.flex-edges {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
}

.flex-row-header {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.flex-start {
  display: flex;
  justify-content: flex-start;
}

.flex-space {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
}

.flex-squeeze {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: row;
}

.vert-flex {

  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;

}


.top-flex {

  height: 300px;

  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;

}
